<section> 
   <div class="header">  
          <h2> Watches from the two most popular countries </h2>

   </div>
    <div class="container" id="aboutwatches">
        <div class="row">
          <div class="card-deck">
             <div class="card">
               <img  class="card-img-top imgC" src="assets/images/swiss.jpg" alt="Card image cap">
               <div class="card-body"  >
                 <h3 class="card-title"> Swiss watches </h3>
                 <p class="card-text" @fades  >Swiss watches have a magical appeal for a lot of people. They spend hundreds of dollars on a watch that is Swiss made even though they can buy a Chinese made timepiece for only 10 dollars. So what is it that makes Swiss made watches so irresistible? It's quality. </p>
               
               </div>
             </div>
             <div class="card">
               <img class="card-img-top imgC" src="assets/images/japan2.jpg" alt="Card image cap">
               <div class="card-body">
                 <h3 class="card-title"> Japanase watches </h3>
                 <p class="card-text" @fades >Equipped with award-winning in-house movements, Grand Seiko watches are amongst the most accurate mechanical timepieces in the world, while their cases come gleaming from Seiko’s time-honoured zaratsu technique – a highly skilled method of polishing which involves applying a rotating tin plate to the case at a precise angle. Switzerland, watch your back.</p>
                
               </div>
             </div>
          </div> 
      </div>
   </div>
  </section>
