<footer>
    <div class="container">
       <div  class="row" >
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h3> Author </h3>
             <img  [@imgover]=currentState  (mouseenter)="changeState()"  class="authorF" src="assets/images/author2.jpg" alt="Author"/>   <h6>Jovan Popović 60/16</h6> <p> I finished third year ICT College of Vocational Studies, in Belgrade, Serbia. I chose course Internet tehnology because i like creating websites. I'm researching some things for making websites with java script and php programming languages. </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h3>Links</h3>
            <ul class="list-group">
                  <li> <a routerLink="/home" class="list-group-item"> Home  </a> </li> 
                  <li> <a  routerLink="/watches" class="list-group-item"> Movies  </a> </li>
                  <li> <a  routerLink="/contact" class="list-group-item"> Contact us  </a> </li>
           <li> <a  routerLink="/aboutwatch" class="list-group-item"> About watch  </a> </li>
                 
            </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h3>Contact </h3>
            <p> <i class="fas fa-envelope"></i> jovan.popovic.60.16@ict.edu.rs </p>
            <p> <i class="fas fa-home"></i> Zdravka Čelara 16</p>
            <p> <i class="fas fa-phone"></i> +381 69 1111 111</p>
  
            <p class="social_icons">
                <a href="http://twitter.com"> <i class="fab fa-twitter" style="color: #2c7baf;"  ></i> </a>
                <a href="https://facebook.com"> <i class="fab fa-facebook-f" style="color: #2c7baf;" ></i> </a>
                <a href="	www.plus.google.com"> <i class="fab fa-google-plus-g" style="color: #2c7baf;" ></i> </a>
            </p>
        </div>
        <span class="clearfix"></span>
        <div>
            <span class="container">
                <div class="row-fluid">
               <p> 2019  by <b>Jovan Popović</b>, all rights reserved </p> </div>
            </span>
        </div>
      </div>
    </div>
  </footer>
