<div class="card block-watch"  style="width: 18rem;"  >
  <img class="card-img-top" src="assets/images/{{ watch.src }}" alt="{{ watch.name }}">
  <div class="card-body">
    <h5 class="card-title"> {{ watch.brand }} {{ watch.name }} </h5>
            <ul>
               <li> Gender: {{ watch.gender }} </li>
               <li> Material of the watch: {{ watch.mofwatch }} </li>
               <li> Bracelet : {{ watch.bracelet }}   </li>
            </ul>
          <span class="price"> {{ watch.price }} RSD </span>
  </div>
</div>